body {
    background-color:#110501;
    /* background-image: linear-gradient(to bottom, #79ccff, #90d8ff,#9cdcff, #fdb7ff, #ff9cfc,#f78eff); */
    background-image: linear-gradient(to right bottom, #FDFCFB, #e1cab7);  
}
.socialLink {
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    margin-left: 15px;
}
#linkedin {
    text-decoration: none;
    color: rgb(0, 97, 215);
}
#github {
    color: rgb(0, 0, 58);
}
#twitter {
    color: rgb(0, 166, 255);
}
#instagram {
    color: rgb(255, 0, 149);
}
#facebook {
    color: rgb(12, 122, 255);;
}
#whatsapp {
    color: rgb(0, 234, 0);
}



 .squares li{
    position: absolute;
    display: block;
    list-style: none;
    background: rgba(255, 255, 255, 0.409);
    animation: animate 15s linear infinite;
    bottom: -170px;
    width: 25px;
    height: 25px;
  }
  .squares li:nth-child(1){
    left: 26%;
    width: 90px;
    height: 90px;
    animation-delay: 0s;
  }
  
  .squares li:nth-child(2){
    left: 8%;
    width: 5px;
    height: 5px;
    animation-delay: 5s;
    animation-duration: 5s;
  }
  
  .squares li:nth-child(3){
    left: 10%;
    width: 15px;
    height: 15px;
    animation-delay: 10s;
  }
  
  .squares li:nth-child(4){
    left: 20%;
    width: 20px;
    height: 20px;
    animation-delay: 6s;
    animation-duration: 30s;
  }
  
  .squares li:nth-child(5){
    left: 35%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
  }
  
  .squares li:nth-child(6){
    left: 40%;
    width: 40px;
    height: 40px;
    animation-delay: 10s;
  }
  
  .squares li:nth-child(7){
    left: 55%;
    width: 40px;
    height: 40px;
  }
  
  .squares li:nth-child(8){
    left: 65%;
    width: 15px;
    height: 15px;
    animation-duration: 30s;
  }
  
  .squares li:nth-child(9){
    left: 70%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 15s;
  }
  
  .squares li:nth-child(10){
    left: 85%;
    width: 30px;
    height: 30px;
    animation-delay: 10s;
    animation-duration: 15s;
  }
  
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 30%;
      -webkit-border-radius: 30%;
      -moz-border-radius: 30%;
    }
  
    100% {
      transform: translateY(-1000px) rotate(600deg);
      opacity: 0;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;  }
  }

  #imgHover {
    filter: drop-shadow(10px 10px 20px rgb(86, 86, 86));
  }
  /* #imgHover:hover {
    box-shadow: 0px 12px 24px 0px rgba(0,0,0,0.5);
    transition: .3s;
  } */

  #cardHover {
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
  }

  #cardHover:hover {
    box-shadow: 0px 12px 24px 0px rgba(0,0,0,0.5);
    transition: .3s;
  }
  
  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

  #button {
    border-radius: 0.9;
  }