:root {
    --header-height: 3rem;
    --nav-width: 324px;

    --font-small: 300;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    --first-color: #CC4B2C;
    --first-color-dark: #662616;
    --first-color-darken: #290F09;
    --text-color: #54423D;
    --placeholder: rgba(92, 92, 92, 0.409);
    --first-color-light: #EAE7E6;
    --first-color-lighten: #fffced;
    --linkedin-color: rgb(0, 94, 210);
    --github-color: rgb(0, 0, 58);
    --instagram-color: rgb(255, 0, 251);
    --whatsapp-color: rgb(0, 224, 0);

    --body-font: 'Poppins', sans-serif;
    --second-font: 'Turret Road', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    --mb1: .5rem;
    --mb2: 1rem;
    --mb3: 1.5rem;
    --mb4: 2rem;
    --mb5: 2.5rem;

    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

*,::before,::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2, h3, p { margin: 0; }
    h3 { font-weight: var(--font-semi-bold); }
ul { margin: 0; padding: 0; list-style: none; }
a { text-decoration: none; color: var(--text-color); }
img { max-width: 100%; display: block; height: auto; }

.section { padding: 4rem 0 2rem;}
.section-title { font-size: var(--h1-font-size); color: var(--first-color); margin-bottom: var(--mb3); text-align: center; }
.section-subtitle {
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color-darken);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: 0.25rem;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb2);
    margin-right: var(--mb2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color-lighten);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.nav { height: var(--header-height); display: flex; justify-content: space-between; align-items: center; }
.nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    background-color: var(--first-color);
    transition: .5s;
}
.nav-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--first-color-dark);
    cursor: pointer;
}
.nav-item { margin-bottom: var(--mb4); }
.nav-link { font-size: 1rem; text-transform: uppercase; color: var(--first-color-lighten); font-weight: var(--font-bold); transition: .3s; }
    .nav-link:hover { color: var(--text-color); }
.nav-toggle { color: var(--first-color-dark); font-size: 1.3rem; cursor: pointer; }
.show { left: 0; }
.active { color: var(--text-color); }
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    border-radius: .5rem;
    transition: .3s;
}
    .button:hover { background-color: var(--first-color-dark); }
.button-light { background-color: var(--first-color-lighten); color: var(--first-color); }
    .button-light:hover { color: var(--first-color-lighten); }
/* Home */

.home-container { height: calc(100vh - var(--header-height)); align-items: center; }
.home-data { display: flex; flex-direction: column; align-items: center; height: max-content; text-align: center; }
.home-img {
    padding-top: 1.3rem;
    padding-left: 0.8rem;
    width: 160px;
    height: 160px;
    background-color: var(--first-color);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: var(--mb2);
}
    .home-img img { width: 155px; }
.home-title { font-size: var(--h1-font-size); color: var(--first-color); font-weight: var(--font-semi-bold); }
.home-profession { font-size: var(--small-font-size); color: var(--first-color-dark); margin-bottom: var(--mb5); }
.home-social { margin-bottom: 5rem; }
.home-social-link {
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: 0.4rem;
    margin: 0 var(--mb1);
    transition: .3s;
}

#linkedin:hover {
    background-color: var(--linkedin-color);
}
#github:hover {
    background-color: var(--github-color);
}
#instagram:hover {
    background-color: var(--instagram-color);
}
#whatsapp:hover {
    background-color: var(--whatsapp-color);
}

.home-button { width: 100%; }

/* About */

.about-container { row-gap: 2rem; }
.about-data { text-align: center; }
.about-description { margin-bottom: var(--mb4); text-align: justify; }
.about-img { width: 150px; border-radius: .5rem; margin: 0 auto; }
.about-information { margin-bottom: var(--mb4); }
.about-information-title { font-size: var(--h3-font-size); color: var(--first-color-dark); margin-bottom: var(--mb2); }
.about-information-data { display: flex; align-items: center; margin-bottom: var(--mb3); padding-left: 1.5rem; }
.about-information-icon { font-size: 1.5rem; color: var(--first-color); margin-right: var(--mb4); }
.about-information-subtitle { display: block; font-weight: var(--font-semi-bold); }
.about-information-subtitle-small { font-size: var(--small-font-size); }

/* Skills */

.skills-container { row-gap: 2rem; }
.skills-subtitle { font-size: var(--h3-font-size); color: var(--first-color-dark); margin-bottom: var(--mb2); }
.skills-data { position: relative; display: flex; justify-content: space-between; margin: 0 var(--mb2); margin-bottom: var(--mb4); }
.skills-name { text-transform: uppercase; }
.skills-bar { position: absolute; bottom: -.75rem; height: 0.25rem; background-color: var(--first-color); }
    .skills-html { width: 95%; }
    .skills-js { width: 90%; }
    .skills-react { width: 90%; }
    .skills-nextjs { width: 85%; }
    .skills-styling { width: 90%; }

    
    .skills-git { width: 85%; }
    .skills-node { width: 75%; }
    .skills-firebase { width: 90%; }
    .skills-phyton { width: 70%; }
    .skills-web3 { width: 80%; }


/* Education */

.education-container { row-gap: 2rem; }
.education-content { display: grid; grid-template-columns: 1fr max-content 1fr; }
.education-year, .education-race { font-size: var(--h3-font-size); margin-bottom: 0.25rem; }
.education-university, .education-specialty { display: block; font-size: var(--smaller-font-size); }
.education-year, .education-university { text-align: right; }
    .education-time { padding: 0 1rem; justify-self: center; }
.education-rounder {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--first-color);
    border-radius: 50%;
}

    .education-rounder::before {
        content: '';
        position: absolute;
        transform: translate(-4px, -4px);
        width: 20px;
        height: 20px;
        border: 1px solid var(--first-color);
        border-radius: 50%;
    }

.education-line { display: block; height: 90%; width: 2px; background-color: var(--first-color); transform: translate(5px, -4px);}

/* Services */

.services-container { row-gap: 2rem; }
.services-content { padding: 1.5rem 0.5rem; border: 2px solid var(--first-color); border-radius: .5rem; text-align: center; }
.services-icon {
    font-size: 2rem;
    padding: 0.5rem;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    border-radius: 50%;
    margin-bottom: var(--mb2);
}

.services-content, .services-icon, .services-description, .services-title { transition: .5s; }
    .services-content:hover { background-color: var(--first-color); }
        .services-content:hover .services-icon { background-color: var(--first-color-lighten); color: var(--first-color); }
        .services-content:hover .services-title { color: var(--first-color-lighten); }
        .services-content:hover .services-description { color: var(--first-color-lighten); }

/* Project */

.project { background-color: var(--first-color); padding-bottom: 0; }
.project-container { row-gap: 2rem; }
.project-data { text-align: center; }
.project-title, .project-description { color: var(--first-color-lighten); }
    .project-description { margin-bottom: var(--mb4); }
.project-img { width: 220px; justify-self: center; }

/* Works */

.works-container { justify-items: center; row-gap: 2rem; }
.works-img { position: relative; overflow: hidden; border-radius: .5rem; }
.works-data {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(204, 75, 44, .7);
    border-radius: .5rem;
    transition: .3s;
}
.works-link {
    display: inline-flex;
    font-size: 1.5rem;
    background-color: var(--first-color-lighten);
    color: var(--first-color);
    padding: 0.25rem;
    border-radius: .25rem;
    margin-bottom: var(--mb2);
}
.works-title { font-size: var(--h2-font-size); color: var(--first-color-lighten); }
    .works-img:hover .works-data { bottom: 0; }

/* Contact */

.contact-container { row-gap: 3rem; }
.contact-input {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: 1 solid;
    background-color: var(--first-color-lighten);
    border-color: var(--first-color-darken);
    font-size: var(--normal-font-size);
    border-radius: .5rem;
}
label {color: var(--first-color-dark); font-family: var(--body-font); font-weight: var(--font-medium); }
.contact ::placeholder {color: var(--placeholder); font-family: var(--body-font); font-weight: var(--font-small); }
.contact-button { outline: none; border: none; font-family: var(--body-font); font-size: var(--normal-font-size); cursor: pointer; }
.contact-info { margin-bottom: var(--mb3); }
.contact-subtitle { font-size: var(--h3-font-size); color: var(--first-color-dark); margin-bottom: var(--mb1); }
.contact-text { display: block; padding-left: 1rem; }

/* Footer */

.footer { background-color: var(--first-color-darken); color: var(--first-color-lighten); text-align: center; }
.footer-title { font-size: var(--h1-font-size); margin-bottom: var(--mb2); }
.footer-description { margin-bottom: var(--mb2); padding: 0.4rem; }
.footer-social { margin-bottom: 3rem; }
.footer-link {
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .8rem;
    margin: 0 var(--mb1);
    transition: .3s;
}
#instagram:hover {
    background-color: var(--instagram-color);
}
#whatsapp:hover {
    background-color: var(--whatsapp-color);
}
#facebook:hover {
    background-color: var(--linkedin-color);
}
.footer-copy { font-size: var(--small-font-size); color: var(--first-color-lighten); }
    .footer-copy span { font-family: var(--second-font); font-weight: var(--font-bold); }

/* Media Queries */

@media screen and (min-width: 768px) {
    .home-button { width: initial; }
    .nav-menu { width: var(--nav-width); }

    .about-container, .skills-container, .services-container, .works-container, .contact-container, .contact-inputs { grid-template-columns: repeat(2, 1fr); }
    .about-data { text-align: initial; }
    .about-description { margin-bottom: var(--mb5); }
    .about-img { width: 220px; }
    .about-information { padding-left: 4rem; }

    .education-time { padding: 0 2rem;}

    .project { background: none; }
    .project-container { background-color: var(--first-color); grid-template-columns: 2fr 1.2fr; padding: 0 2rem; border-radius: .5rem; }
    .project-data { padding: 3rem 0; }
    .project-title, .project-data { text-align: initial; }
    .project-img { width: 230px; align-self: flex-end; }

    .contact-inputs { display: grid; column-gap: 1.5rem; }
    .contact-info { padding-left: 3rem; }

    .footer { background: none; }
    .footer-container { background-color: var(--first-color-darken); padding: 3rem 0; border-radius: .5rem;}
}

@media screen and (min-width: 1024px) {
    body { margin: 0; padding-left: var(--nav-width); }
    .l-header { width: 0; }

    .nav-toggle, .nav-logo, .nav-close { display: none; }
    .nav-menu { left: 0; }

    .home-container { height: 100vh; }
    .section { padding: 3rem 0 2rem; }
    .bd-grid { margin-left: auto; margin-right: auto; }

    .works-container { grid-template-columns: repeat(3, 1fr);}
}

@media screen and (min-width: 1400px) {
    .services-container { grid-template-columns: repeat(3, 1fr); }
}


/*Hackthon*/
#ad-card {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 3px;
    border: 2px solid #ff0000;
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  @keyframes blinking {
    50% {
      border-color: #0008ff;
    }
  } 

  .ad-innerFlex img { height: 200px;}
  
  #ad-card h3 {
    margin-top: 0;
    font-weight: var(--font-semi-bold);
    /* font-size: var(--h2-font-size); */
    font-size: 1.5rem;
  }
  
  .ad-innerFlex {
    display: flex;
  }
  
  #ad-card button {
    display: block;
    margin: 10px 0 0;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #ad-card button:hover {
    background-color: #0056b3;
  }
  
  .crossSvg {
    height: 25px;
    display: flex;
    cursor: pointer;
  }
  
  @media screen and (max-width: 990px) {
    #ad-card {
      position: fixed;
      top: 100px;
      left: 27px;
      height: 430px;
      width: 310px;
      padding: 20px;
      background-color: rgb(255, 255, 255);
      border-radius: 3px;
      border: 2px solid #ff0000;
      animation-name: blinking;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1000;
    } 
  }



  .certificate-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
}

button {
    background-color: var(--first-color-lighten);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: var(--first-color);
}

.certificate-wrapper {
    width: 80%;
    max-width: 700px;
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.certificate-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.certificate {
    flex: 0 0 100%;
    max-width: 100%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.certificate img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Dots Indicator */
.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #CC4B2C;
}

@media (max-width: 768px) {
    .certificate-container {
        flex-direction: column;
    }

    button {
        padding: 8px 12px;
        font-size: 14px;
    }

    .certificate-wrapper {
        width: 90%;
    }

    .certificate {
        min-width: 100%;
    }
    .dot {
        width: 10px;
        height: 10px;
    }
}


